.credential_body{
	padding-bottom: 10px!important;
}

.no-margin-bottom{
	margin-bottom: 0px!important;
}

.text-bold{
	font-weight: 600;
}

.m-t-120{
	margin-top: 120px;
}

.infor{
	margin-bottom: 0px;
}
@media (max-width: 767px) {
	.m-t-120{
		margin-top: 0px;
	}
	.m-t-65.no-margin-bottom{
		margin-top: 0px;	
	}
}

.table-responsive{
	overflow-x: unset;
}

.card .header{
    padding: 15px;
}

section.content{
   margin-top: 78px;
}

.block-header{
    margin-bottom: 8px;
}

.card{
    margin-bottom: 20px;
}

.body .col-sm-5, .body .col-sm-7{
	margin-bottom: 0px!important;
}


.page-loader {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #11111130;
    overflow: hidden;
    text-align: center;
}

.page-loader .loader{
    position: relative;
    top: calc(50% - 30px);
}